/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
#nav {
    color: white;
    border: none;
    background-color: #0e4482;
}
.navbar {
    background-color: #0e4482;
}
a , #search{
    font-weight: bold;
    color: #0e4482;
    border: 1px solid #0e4482;
    padding: 4px;
   // padding-top: 4px;
    border-radius: 5px;
    background-color: white;
}
.form-control {
    border: 1px solid #0e4482;
    border-radius: 5px;
    font-weight: bold;
}
/* You could use :after - it doesn't really matter */
body {
    font-family: 'Zilla Slab'; 
    font-weight: bold;
   // height: 100%;
    background-image: url('/images/school1.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.index, #index {
    background-color: white;
    padding: 10px;
}

.carousel {
    max-height: 500px;

}
.carousel-inner {
    height: 450px;
    width: 100%;
}
.titleTr {
    background-color: #0e4482;
    color: white;
}
.titleHead {
    background-color: #8cbcf3;
    border-top: 1px solid #0e4482;
}
tbody {
    background-color: #e8f2fd;
}
table td {
    border-top: 1px solid #0e4482;
    border-bottom: 1px solid #0e4482;
    padding: 20px;
}
table {
    border: 1px solid #0e4482;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#tr {
    border-right: 1px solid #0e4482;
}

.welcome {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: #0e4482;
}
#under {
    border-bottom: 1px solid #0e4482;
    font-weight: bold;
}

#statistics {
    text-align: center;
    margin: auto;
    width: 80% !important;
}
hr {
    border-width: 2px;
    color: #0e4482;
    border-style: double;
}
.btn-primary {
    background-color: #0e4482;
    padding: 2px;
    border: none;
}
.btn-danger {
    background-color: #cc0000;
    padding: 2px;
    // padding-left: 4px;
    padding-right: 4px;
    border: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
